header{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

header section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h2{
    font-size: 3vw;
}

header h1{
    font-size: 7vw;
    margin-bottom: 0;
    padding: 0;
}


body{
    font-family: 'Sriracha', cursive;
}

pre{
    /*remove espaços extras*/
    white-space: pre-line;
    font-family: 'Sriracha', cursive, monospace;
}

div{
    font-size: 4vw;
    padding-top: 10vh;
    padding-bottom: 10vh;

 }

div#p1,
div#p3,
div#p5{

    color: black;
    background: white;
}

div#p2{
    background: black url('imagens/background001.jpg') center top no-repeat fixed;
    background-size: cover;

}

div#p4{
    background: black url('imagens/background002.jpg') center top no-repeat fixed;
    background-size: cover;

}

div#p4 pre{
    background-color: rgba(13, 13, 13, 0.923);
    color: white;
    max-width: 48vw;
}
div#p2 pre{
    background-color: rgba(240, 235, 235, 0.796);
    max-width: 48vw;
}

div#pre{
    max-width: 55vw;
}

div#p2,
div#p4,
div#p6{
    color: black;
    background-color: white;
}