*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    margin: 40px;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
}


