header{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}


body{
    font-family: 'Sriracha', cursive;
}

pre{
    /*remove espaços extras*/
    white-space: pre-line;
}

div{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;

 }


div#p1,
div#p3,
div#p4,
div#p5,
div#p7{
    /*background-color: rgb(53, 54, 54);
            background-image: url('imagens/wallpaper002.jpg');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;*/
    color: black;
    background: white url('imagens/background002.jpg') center top no-repeat cover scroll ;
}

div#p2,
div#p4,
div#p6{
    color: white;
    background-color: black;
}