*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    background-color: rgba(230, 218, 166, 0.679);
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.177);
    width: 200px;
    height: 350px;
}

.ligada img,
.desligada img,
.quebrada img{
    padding: 0px;
}

.desligada{
    position: relative;
    left: 2px;
}


.hide{
    display: none;
}


input{
    padding: 5px;
}
